.navigationDrawerNav {
  height: 100%;
  display: flex;
  justify-content: center;
}

.desktop {
  display: flex;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .mobileBurger {
    grid-column: 1;
    justify-self: start;
    flex-shrink: 0;
  }
  .mobileLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-65%, -40%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
    width: auto;
  }
  .mobileLogo a {
    display: flex;
    pointer-events: auto;
    justify-content: center;
    align-items: center;
  }
  .mobileLogo svg {
    max-width: min(calc(100vw - 90px), 200px);
    height: 35px;
    width: auto;
    display: block;
  }
  .mobileTheme {
    grid-column: 3;
    justify-self: end;
    flex-shrink: 0;
  }
}
